@import "base/var";
@import "mixins/mixin";




body {
    font-size: $fontSize;
    font-family: $fontFamily;
}

.body-all {
    h1 {
        color: $blue;
        font-size: $fontSize;

        em {
            font-size: 18px;
        }
    }

    .section {
        height: 120px;

        h2 {
            color: $blue;
        }
    }
}

span {
    font-size: $fontSize;
}


.box {
    @include marginauto();
}


.box2 {
    @include marginautos(200vw);
}


.box4 {
    @include margin(10px, 20px, 400px, 150px);
}

.box5 {
    @include rect(100px, 400px);
}

.box6 {
    @include rects();
}


@include rect-color ('.section01', 100vw, 300px, #f20) {
    color: #fff;
    font-size: 100px;
    padding-top: 50px;
    @include box-sizing(border-box);

    a {
        &:hover {
            color: rgb(0, 255, 21);
        }
    }
}

@include rect-color ('.section02', 100vw, 400px, rgb(175, 247, 31));


.fontSize100 {
    font-size: 100px;
    color: #000;
}


@mixin fontSize100() {
    font-size: 100px;
    color: #000;
}

body {
    //@extend .fontSize100;
    @include fontSize100();
}


.spec {
    @include rect(800px, 200px);
    @include box-sizing(border-box);
    background-color: rgb(0, 60, 255);
}