//基本設定
$fontSize: 36px;
$color: rgb(202, 52, 29);
$fontFamily: Helvetica,
sans-serif;
$padding: 120px;
$blue : rgb(0, 17, 255);
$theme : black;
$fontbase : 16px;

//斷點
$mb : 768px;
$md  : 996px;
$dsk : 997px;